body{
    margin-left:  200px;
    margin-right:  200px;
}
.ht{
    background-color: rgba(0,0,0,0.6);
    display: none;
}
.div1{
box-sizing: border-box;
position: absolute;
width: 294px;
height: 326px;
left: 200px;
top: 449px;
background: rgba(255, 168, 0, 0.92);
border-radius: 20px;
}
.div2{
box-sizing: border-box;
position: absolute;
width: 294px;
height: 326px;
left: 529px;
top: 449px;
background: rgba(255, 168, 0, 0.92);
border-radius: 20px;
}
.div3{
box-sizing: border-box;
position: absolute;
width: 294px;
height: 326px;
left: 857px;
top: 449px;
background: rgba(255, 168, 0, 0.92);
border-radius: 20px;
}
.img1{
    margin-left: 3%;
    margin-top: 0 auto;
}
.img2{
    margin-left: 10%;
    margin-top: 10%;
}
.img3{
    margin-left: 16%;
    margin-top: 4%;
}
.text{
    font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
text-align: center;

color: #000000;
max-width: 65%;
margin-left: auto;
margin-right: auto;
}
.bg{
    background-color: rgb(255, 204, 0);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100vh;
}
.headertext{
font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
}
.headertext2{
 font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 2px;
color: #080808;
margin-left: 20px;
margin-top: 14px;
}
.button{
    align-items: flex-start;
padding: 24px 32px;
gap: 10px;

height: 68px;

background: #080808;
border-radius: 16px;
font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;


color: #FFFFFF;
margin-left: 20px;
}
.button1{
position: absolute;
width: 343px;
height: 60px;
left: 200px;
top: 813px;

background: #090909;
border-radius: 16px;

font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;

text-align: center;

color: #FFFFFF;
}
.svg{
    position: absolute;
    right: 20vw;
    bottom: 65vh;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header2{
    display: flex;
    margin-left: 20px;
}
h1{
font-family: sans-serif;
font-style: normal;
font-weight: 700px;
font-size: 60px;
line-height: 120%;


color: #000000;
max-width: 65%;
margin-right: auto;
}
h2{
font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;


color: #000000;
}

.imgbg{
    width: 100%;
    margin-left: 200px;
}
.imgsvg{

}
.forms{
position: absolute;
width: 780px;
height: 492px;
left: 570px;
top: 294px;
background: #FFFFFF;
border-radius: 40px;
}
.textform{
    font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;

color: #000000;
margin: auto;
margin-left: 60px;
margin-right: 60px;
margin-top: 35px;
}
.line{
    display: flex;
flex-direction: row;
align-items: flex-start;
gap: 10px;

width: 596px;
height: 60px;

border: 1px solid #000000;
border-radius: 16px;
margin: auto;
margin-top: 20px;

font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;

color: #000000;
}
.formbutton{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
width: 596px;
height: 60px;

background: #000000;
border-radius: 16px;

font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;

color: #FFFFFF;

margin: auto;
margin-top: 20px;
}
.closebtn{
    margin-top: 25px;
    margin-left: 90%;
}
.divform{
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
}
@media (max-width: 500px) {
    .svg{
        top: 236vh;
        position: absolute;
    }
    .div1{
        top: 44vh;
        left: 0.5vh;
        width: 460px;
        height: 510px;
    }
    .div2{
        top: 105vh;
        left: 2.5vh;
        width: 460px;
        height: 510px;
    }
    .div3{
        top: 166vh;
        left: 2.5vh;
        width: 460px;
        height: 510px;
    }
    .headertext{
        display: none;
    }
    .headertext2{
        display: none;
    }
    body{
        margin-left: 10px;
        margin-right: 10px;
    }
    .imgsvg{
        width: 140px;
        height: 30px;
    }
    .button{
        width: 187px;
        height: 54px;
        font-weight: 140px;
        font-size: 14px;
    }
    h1{
        width: 458px;
        font-size: 48px;
        max-width: 100%;
    }
    .img1{
        width: 355px;
        height: 310px;
        margin-left: 50px;
    }
    .img2{
        width: 355px;
        height: 234px;
    }
    .img3{
        width: 355px;
        height: 310px;
    }
    .button1{
        top: 226vh;
        left: 15vw;
    }
    .imgbg{
        top: 260vh;
        right: 0vh;
        position: absolute;
        width: auto;
        height: 75%;
    }
    .a2{
        position: absolute;
        top: 2.5vh;
        right: 3vh;
    }
    .forms{
        width: 450px;
        height: 510px;
        left: 1vh;
        top: 20vh;
    }
    .textform{
        margin-top: 0px;
    }
    .line{
        width: 30vh;
    }
    .formbutton{
        width: 30vh;
    }
    .text{
        font-size: 28px;
        line-height: 28px;
    }
}
